@import '~antd/dist/antd.css';


body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(250, 250, 250, 0.85);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height:100%; */
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.form-elegant .font-small {
  font-size: 0.8rem; }

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); 
}

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

  .blue-gradient{
    background: linear-gradient( 15deg, #07817b, #02292c) !important
  }

  .btn:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    outline: 0;
    background: linear-gradient( 15deg, #07817b, #06d8e7) !important
}
  .delete{
    background: linear-gradient( 15deg, #db2727, #5e0903) !important
  }

  .delete:hover{
    background: linear-gradient(15deg, #db2727, #eb7a72)!important;
  }

  .blue-text{
    color: #076181 !important
  }

  .form-control.validate{
    margin-bottom:10px;
  }

  .status_box{
    text-align: center;
  }

  .nav-bar{
    display: flex;
    ;
  }

  .logout-bar{
    flex:1;
    display: flex;
    justify-content: flex-end;
  }

  .nav-bar2{
    flex:1;
    display :flex;
    justify-content: flex-start;
    align-items: center;
  }

  .-w{
    text-align: center;
  }
  
  .personal-information{
    
    text-align: center;
  }

 
  .picker-input__text{
    border-radius: 5px;
   
    padding: .375rem .75rem !important


  }

  .error-msg{
    color: red;
  }

  .logout_button{

    display:flex;
    align-items: center;

    flex:1;
    justify-content: space-between;
  }

  .MuiToolbar-gutters{
    background: white
  }

  .MuiButtonBase-root {
    background: black
  }

  .haveTodoList{
    background: rgb(30, 119, 18) !important
  }

  .currency{
    display: flex;
  }

  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control1 {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
}

.contract-background{
  background: white;
  
}

.schedule{
  display: flex;
}

.signature{
  display: flex;
}

.sigCanvas{
  border: solid 1px;
}
.signature-pad{
  display:flex;
 
}


/* .signature-details{
  display: flex;
} */

.logo {
  width:60px;
  height:60px;
  
}



.center{
  display:flex;
  justify-content: center;
}

.profile {
  width:200px;
  height:200px;
}

.listlogo{
  margin-left: 20px;
  margin-right: 20px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

}

.MuiPaper-root {
  color: white !important;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: rgba(0, 0, 0, 0.85) !important;
}

.lastLogin{
  border-style: solid;
  
  /* border-color: #33b5e5; */
  color: transparent;
  background: linear-gradient(20deg,#33b5e5, white, #33b5e5, #fc96e6)!important;
  padding-left: 0.5px;
  padding-right: 0.5px;
  border-radius: 7px;
}

.lastLogin2{
  border-color: linear-gradient(900deg, #ad3393, #33b5e5)!important;
  /* border-color: #33b5e5; */
  color: #5fd3fd;
  background: rgba(0, 0, 0, 0.93) !important;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.lastLogin3{
  border-color: linear-gradient(900deg, #ad3393, #33b5e5)!important;
  /* border-color: #33b5e5; */
  color: #5fd3fd;
  background: rgba(0, 0, 0, 0.93) !important;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.sakura {
  width:130px;
  height:130px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.mk-4{
  font-size: 80px;
  display: flex!important;
  justify-content: center;
  align-items: center!important; 
  background: transparent;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
}

.Hero{
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center!important; 
  background: transparent;
  border-radius: 0.5rem;
  height: 30rem;
  bottom: 30rem;
  color: white;
  font-weight: bold;
}

.Heros{
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: transparent;
  border-radius: 0.5rem;
 
  color: white;
  font-weight: bold;
}



.indicator{
  border-style: solid;
  /* border-color: #33b5e5; */
  color: transparent;
  background: linear-gradient(20deg,#33b5e5, white, #33b5e5, #fc96e6)!important;
  padding-left: 0.5px;
  padding-right: 0.5px;
  border-radius: 7px;
  
}



.btn-info {
  background: linear-gradient(15deg, #076181, #021f2c) !important;
  color: white !important;
}

.MuiListItem-button:hover {
  text-decoration: none;
  background-color: rgba(250, 250, 250, 0.20) !important;
}

.form-control:focus {
  color: black;
  background-color: transparent;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

@media screen and (max-width:1000px){
  .image-block{
    position: relative;
    border: solid 2px black;
    width: 600px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
}

.image-block{
  position: relative;
  border: solid 2px black;
  width: 600px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.test-button{
  position:absolute
}

.upload-information{
  font-size: 50px;
  text-align:center
}

.image{
  max-width: 100%;
  max-height: 650px;
  z-index: -1;
  position: absolute;
}
.xxx{
  position:absolute
}
.upload-image-button{
  display:flex;
  justify-content: center
}

.save-changes-button{
  display: flex;
  justify-content: flex-end;
}

.test{
  position:relative;
  z-index: -1
}

.draggable-zone{
  position:absolute;
  width: 100%;
  height: 100%;
 
}

.drag{
  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
}

.handle{
  display: flex;
}

@media screen and (max-width:1000px){
  .drag-block{
    position: relative;
    border: solid 2px black;
    width: 600px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.drag-block{
  position: relative;
    border: solid 2px black;
    width: 600px;
    height: 800px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.drag-square{
  width:30px;
  height: 30px;
  
}

.drag-button{
  width:100px;
  height:100px;
  position:absolute;
  border: 0px;
  border-radius: 150px;
  cursor: grabbing;
  color:black;
}

.upload-block{
  position: relative;
  border: solid 2px black;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.upload-image{
  display:flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  text-align:center;
}

.global-drag-block{
  display: flex;
  justify-content: center;
}

.submit-button{
  display:flex;
  justify-content: center;
}

.MuiListItemIcon-root {
  color: rgba(250, 250, 250, 0.75)!important;
  display: inline-flex;
  min-width: 56px;
  flex-shrink: 0;
}

.form-control:focus {
  color: black;
  background-color: rgba(250,250,250, 0.70);
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.floor-plan-upload-button{
  display:flex;
  justify-content: space-evenly;
}

.yellow{
  background-color: rgb(247, 223, 7);
  width:300px;
  height:300px;
  opacity: 0.6
}



.red{
  background-color: rgb(185, 88, 88);
  width:300px;
  height:300px;
  opacity: 0.6

}

.green-color{
  background-color: rgb(2, 255, 23);
  width:300px;
  height:300px;
  opacity: 0.6
}

.drag-area-name{
  display: flex;
  justify-content: center;
}

.icon-block{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:20px;
  border: solid 2px black;
  height:200px;
  width:200px;
  border-radius: 150px;
}

.icon-zone{
  display: flex;
  justify-content: center;
  padding-top:60px;
}

.icon{
  
height:100%;
width:100%;
 
  border-radius: 150px;
}

.upload-click{
  display: flex;
  justify-content: center;
}

.logout-button{
  display:flex;
  justify-content: center;

}


.profile-pic{
  display:flex;
  justify-content: center;
  position:absolute;

}

.menu-profile-block{
  
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:20px;
  border: solid 2px black;
  height:150px;
  width:150px;
  border-radius: 150px;

}


.menu-profile-picture{
 
  position:absolute;
  height:100%;
width:100%;
 
  border-radius: 150px;

}

.center-block{
  display: flex;
  justify-content: center;
}

#background-video{
  min-width: 1700px;
}




.personal-information-buttons{
  display:flex;
  justify-content: space-between;
}

.landlord-area{
  display:flex;
  justify-content: center;
}

.upload{
  padding-left: 60px;
    padding-right: 60px;
}

.upload-pic{
  padding-left: 60px;
    padding-right: 60px;
    background: black;
    padding-top:20px;
    padding-bottom:20px;
}

.create-property{
  margin-top: 20px;
}

.country{
  margin-bottom:0px;
}

.history-name{
  text-align:center
}

.history-block{
  margin-bottom: 20px;
}


.view-download-button{
  display:flex;
  justify-content: space-between;
  justify-content: center;
}


.floor-plan-units{
  display: flex;
  justify-content: center;
}

.unit-style{
  text-align:center;
}