
.form-elegant .font-small {
    font-size: 0.8rem; }
  
.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); 
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.25);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

  
.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

    .login_button{
        background: white;
    }

    .btn-white .btn .Ripple-parent .mr-md-3 .z-depth-1a .btn-rounded{
        margin: 99px
    }

    .dark-grey-text {
        color: whitesmoke !important;
    }

    .md-form label {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1rem;
        transition: transform .2s ease-out, color .2s ease-out;
        transform-origin: 0% 100%;
        transform: translateY(12px);
        cursor: text;
        color: whitesmoke;
    }

    .md-form input[type=text]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]), .md-form input[type=email]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]), .md-form input[type=time]:focus:not([readonly]), .md-form input[type=date]:focus:not([readonly]), .md-form input[type=datetime-local]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]){
        box-shadow: 0 1px 0 0 white;
        border-bottom: 1px solid white;
        color: white;
    }

    .md-form input[type=text]:focus:not([readonly]) + label, .md-form input[type=password]:focus:not([readonly]) + label, .md-form input[type=email]:focus:not([readonly]) + label, .md-form input[type=url]:focus:not([readonly]) + label, .md-form input[type=time]:focus:not([readonly]) + label, .md-form input[type=date]:focus:not([readonly]) + label, .md-form input[type=datetime-local]:focus:not([readonly]) + label, .md-form input[type=tel]:focus:not([readonly]) + label, .md-form input[type=number]:focus:not([readonly]) + label, .md-form input[type=search-md]:focus:not([readonly]) + label, .md-form input[type=search]:focus:not([readonly]) + label, .md-form textarea.md-textarea:focus:not([readonly]) + label{
        color:white;
    }


    #background-video{
    width:100%;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    }

    
    @media only screen and (
        max-width: 1300px) {
        #background-video{
            position: fixed;
            z-index: -1;
            min-width: 2500px; 
            min-height: 2500px;
        }
      }

      .dark-grey-text {
        color: whitesmoke !important;
    }

    
    .dark-grey-text:hover, .dark-grey-text:focus {color: rgba(255, 254, 254, 0.63) !important;
    }

    .blue-text {
        color: white !important;
    }

    .btn-white {
        background: linear-gradient(15deg, #076181, #021f2c) !important;
        display: flex;
        justify-content: center;
        width: 0.5rem;
        height: 4.25rem;
        border-radius: 50rem;
        color: #000;
    }

    .fa-facebook-f:before {
        content: "\f39e";
        font-size: 2rem;
    }

    .class {
        color:white;
    }