.btn-secondary {
    background: linear-gradient(20deg, #076181, #021f2c) !important;
    color: white;
}

.btn-secondary:not([disabled]):not(.disabled):active, .btn-secondary:not([disabled]):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    
    position: relative;
    overflow: hidden;
    touch-action: none;
}

.Ripple-parent {
    position: relative;
    overflow: hidden;
    touch-action: none;
}


.primary {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.8);
    background-clip: border-box;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
    color: white;
    justify-content: center!important;
}

.pri {
    background-color: rgba(24, 104, 17, 0.397);
    border-radius: .25rem;
    color: black;
    display: flex;
    justify-content: center;    
}

.pri-sign {
    background-color: rgba(214, 53, 13, 0.397);
    padding: 2rem;
    color: black;
    border-radius: .25rem;
  
}

.pri-block {
    background-color: rgba(14, 15, 15, 0.3);
    padding: 2rem;
    color: black;
    border-radius: .25rem;
  
}

.sigCanvas{
    background: rgba(250, 250, 250, 0.95);
    border-radius: .25rem;
    border: white;
}

.pri2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.8);
    background-clip: border-box;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
    color: white;
    justify-content: center!important;
}

.pri3{
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.fontawesome {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.8);
    background-clip: border-box;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
    color: white;
}

h4{
    color:white;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.primary4{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.8);
    background-clip: border-box;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
    color: white;
    justify-content: center!important;
    align-items: center;
    z-index: 1;
}

.primary3{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.8);
    background-clip: border-box;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
    color: white;
    justify-content: center!important;
    font-size: 20px;
}



.contract-background{
    background-color: rgba(250, 250, 250, 0.85);
    font-size: 16px;
    color: black;
    
}

.primary1 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.9);
    background-clip: border-box;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
    color: rgb(255, 191, 255);
    font-size: 18px;
    font-weight: bold;
}

.primary2 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.8);
    background-clip: border-box;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
    color: rgb(16, 214, 214)!important;
    
    
}

.lightblue {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background:linear-gradient(20deg,#33b5e5, white, #33b5e5, #fc96e6)!important;
    background-clip: border-box;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
    
}

.btn-primary {
    background-color: #4285f4 !important;
    color: #fff;
}

.lightorange {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: linear-gradient(20deg,#e55733, rgb(248, 232, 11), #e9a528, #c96507)!important;
    background-clip: border-box;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
}

.lightgreen{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: linear-gradient(20deg,#1bd49d, #c5e7e4, #28e978, rgb(58, 180, 119))!important;
    background-clip: border-box;
    border-radius: .25rem;
    padding: .75rem 1.25rem;  
}

h6{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h5{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-msg {
    color: rgba(248, 147, 147, 0.966);
    font-weight:bold;
}

.MuiButton-root {
    background: rgb(0, 0, 0,0.8) !important;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4.25rem;
    border-radius: 50rem;
    color: white!important;
}

.upload {
    background: linear-gradient(5deg, #07817b, #02292c) !important;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
    cursor:pointer;
   
}

.upload-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: linear-gradient(5deg, #07817b, #02292c) !important;
    background-clip: border-box;
    border-radius: .25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    justify-content: center!important;
    cursor:pointer;
    padding-left: 4.75rem;
    padding-right: 4.75rem;
    word-wrap: break-word;
}

.upload:hover, .upload:active, .upload:focus {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    outline: 0;
    background: linear-gradient( 15deg, #07817b, #06d8e7) !important;
}

.upload-2:hover, .upload-2:active, .upload-2:focus {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    outline: 0;
    background: linear-gradient( 15deg, #07817b, #06d8e7) !important;
}

.delete:hover, .delete:active{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    outline: 0;
    background: linear-gradient( 15deg, #df1515, #eca4a4) !important;
}

.btn-secondary {
    background: linear-gradient(5deg, #07817b, #02292c) !important;
    color: white;
}


.btn-1 {
    background-color: rgb(23, 148, 96) !important;
}

.btn-1:hover {
    background-color: rgb(30, 216, 139) !important;
}

input {
    width:100%;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.contract-text{
    color:black;
    font-size: 15px;
    font-weight:bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchdollar{
    display: flex;
    justify-content: center;
}

.drag-block{
    display: flex;
    justify-content: center;  
}

.lightblue{
    color: lightblue;
}

.primary5 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.8);
    background-clip: border-box;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
    color: rgb(214, 211, 16)!important;
}

.contract-list-block{
    background-color: rgba(0, 0, 0, 0.7);
    padding: .75rem 1.25rem;
    margin-bottom:10px;
}

.space-between{
    display: flex;
    justify-content: space-between;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.8);
    background-clip: border-box;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
    color: yellow!important;
    font-weight: bold;
    justify-content: center!important;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.8);
    background-clip: border-box;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
    color: white!important;
    justify-content: center!important;
}

.drag-button.red:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    outline: 0;
    background: linear-gradient( 15deg, #07817b, #06d8e7) !important;
}

.drag-button.green-color:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    outline: 0;
    background: linear-gradient( 15deg, #07817b, #06d8e7) !important;
}

.drag-button.yellow:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    outline: 0;
    background: linear-gradient( 15deg, #07817b, #06d8e7) !important;
}